<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stone.project63" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".invoteActivity"
            android:label="@string/title_activity_invote" >
        </activity>
        <activity
            android:name=".inteamschduleActivity"
            android:label="@string/title_activity_inteamschdule" >
        </activity>
        <activity
            android:name=".innoteActivity"
            android:label="@string/title_activity_innote" >
        </activity>
        <activity
            android:name=".submit"
            android:label="@string/title_activity_submit" >
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".newInMeetingActivity"
            android:label="@string/title_activity_new_in_meeting" >
        </activity>
        <activity
            android:name=".FindGroupActivity"
            android:label="@string/title_activity_find_group" >
        </activity>
        <activity
            android:name=".groupCardActivity"
            android:label="@string/title_activity_group_card" >
        </activity>
        <activity
            android:name=".SelectGroupActivity"
            android:label="@string/title_activity_select_group" >
        </activity>
        <activity
            android:name=".ManagementGroupActivity"
            android:label="@string/title_activity_management_group" >
        </activity>
        <activity
            android:name=".GetNotJoinListActivity"
            android:label="@string/title_activity_get_not_join_list" >
        </activity>
        <activity
            android:name=".LetHeInActivity"
            android:label="@string/title_activity_let_he_in" >
        </activity>
        <activity
            android:name=".CreateMeetingActivity"
            android:label="@string/title_activity_creatw_meeting" >
        </activity>
        <activity
            android:name=".ChangeRightActivity"
            android:label="@string/title_activity_change_right" >
        </activity>
        <activity
            android:name=".MasterTabActivity"
            android:label="@string/mastertab" >
        </activity>
        <activity
            android:name=".CreateVoteActivity"
            android:label="@string/title_activity_create_vote"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".CreateRemindActivity"
            android:label="@string/title_activity_create_remind" >
        </activity>
        <activity
            android:name=".firstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
